langchain_community 
tiktoken 
langchainhub 
chromadb 
langchain 
langgraph  
tavily-python 
sentence-transformers
langchain  
pydantic 
lxml 
langchainhub 
fastapi 
kaleido 
uvicorn
unstructured[all-docs]==0.11.2
unstructured-inference==0.7.15
pytesseract 
nltk
langchain-community
pikepdf
pypdf
google-auth 
google-auth-oauthlib 
google-auth-httplib2 
google-api-python-client 
streamlit==0.81.1
httpx-oauth==0.3.5
oauth2client
