langchain_community 
tiktoken 
langchain-openai 
langchain-cohere 
langchainhub 
chromadb 
langchain 
langgraph  
tavily-python 
sentence-transformers
langchain  
pydantic 
lxml 
langchainhub 
fastapi 
kaleido 
uvicorn
unstructured[all-docs]==0.11.2
unstructured-inference==0.7.15
pytesseract 
nltk
langchain-community
langchain_cohere
pikepdf
pypdf
